@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
    --first-color: rgb(0, 21, 26);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--first-color);
    font-family: 'Itim';
    font-size: 1.3em;
    line-height: 1.5;
}

* {


    box-sizing: border-box;
    outline: none;
}

h2,h1{
    text-align: center;
    margin-bottom: 10px 0;
}
.container {
    color: azure;
    max-width: 640px;
    margin: 70px auto;
    padding: 25px;
    background-color: rgb(5, 39, 41);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.549);
    border-radius: 10px;
}
form input,form label,form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 25px;
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border-radius: 8px;
}

form input:focus{
    outline: 4px solid var(--first-color);
}

form button{
    border: none;
    color: aliceblue;
    background-color: var(--first-color);
    height:50px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    margin-top: 30px;

}

form button:hover{
    background-color:rgba(0, 62, 78, 0.559);
    font-size: 25px;
}
.infoholder .info{
    width: 50%;
    padding: 20px;
}
.infoholder{
    display:flex;
    flex-direction: row;
}

.resultado{
    display: flex;
    font-size: 25px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 35px;
    height: 50px;
    color: rgb(18, 18, 18);
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    height: 50px;
    flex-direction: column;
    align-items: flex-end;
    font-size: larger;
}